<html>
    <body>
        <%- include('menu-subcategory'); %>
        <form method="post" action="/subcategoryprocess">
            Name : <input type="text" name="txt1" required/><br>
            Category ID : <input type="text" name="txt2" required/><br>
            
        
            <input type="submit"/>
        </form>
    </body>
</html>