<html>
    <body>
        <%- include('menu-product'); %>
        <form method="post" action="/productprocess">
            Name : <input type="text" name="txt1" required/><br>
            Details : <input type="text" name="txt2" required/><br>
            Price : <input type="text" name="txt3" required/><br>
            Image : <input type="text" name="txt4" required/><br>
        
            <input type="submit"/>
        </form>
    </body>
</html>