<html>
    <body>
        <%- include('menu-category'); %>
        <form method="post" action="/categoryprocess">
            Name : <input type="text" name="txt1" required/><br>
            
        
            <input type="submit"/>
        </form>
    </body>
</html>