<html>
    <body>
        <%- include('menu-category');%>
        <form method="post" action="/cg-updateprocess/<%= mydata[0].cg_id %>">
            Name : <input type="text" name="txt1" value="<%= mydata[0].cg_name %>" required /><br>
            
            <input type="submit"/>
        </form>
    </body>
</html>